
DATABASE_URL=

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRY=

PORT=8000
NODE_ENV=

BUCKET=time-capsule-bucket

EMAIL=
GOOGLE_APP_PASSWORD=

RESEND_API_KEY=

CLIENT_URL=http://localhost:5173


REDIS_HOST=localhost
REDIS_PORT=6379


LOCALSTACK_ENDPOINT=http://localhost:4566
LOCALSTACK_REGION=us-east-1
LOCALSTACK_ACCESS_KEY_ID=test
LOCALSTACK_SECRET_ACCESS_KEY=test

